pandas Series

In [1]:
import pandas as pd

In [2]:
a = pd.Series([82,75,73,89,79])

In [3]:
a.describe()

count     5.000000
mean     79.600000
std       6.308724
min      73.000000
25%      75.000000
50%      79.000000
75%      82.000000
max      89.000000
dtype: float64

In [4]:
print(a[3])

89

In [5]:
for i in a:
    print(i)

82
75
73
89
79

In [6]:
print(a-5)

0    77
1    70
2    68
3    84
4    74
dtype: int64

In [7]:
print(a>80)

0     True
1    False
2    False
3     True
4    False
dtype: bool

In [8]:
print(a.mean())

79.6

In [12]:
# 计算同向和反向特征的元素个数

def dir_judge(var1, var2):
    mean1 = var1.mean()
    mean2 = var2.mean()
    
    same_dir = ((var1 > mean1)&(var2 > mean2)) | ((var1 < mean1)&(var2 < mean2))
    print(same_dir)
    return(len(same_dir[same_dir == True]),len(same_dir[same_dir == False]))

In [13]:
math_score = pd.Series([143,137,141,130,136,128,139])
eng_score = pd.Series([73,82,75,76,65,89,67])

dir_judge(math_score,eng_score)

0    False
1     True
2    False
3    False
4     True
5    False
6    False
dtype: bool

(2, 5)

索引

series为列表和字典的结合

In [15]:
math_score = pd.Series([143,137,141,130,136,128,139],
                index = ['ZQ','ZZX','YSC','WDF','SZY','XJL','XJY'])
math_score

ZQ     143
ZZX    137
YSC    141
WDF    130
SZY    136
XJL    128
XJY    139
dtype: int64

In [16]:
math_score.describe()

count      7.000000
mean     136.285714
std        5.529144
min      128.000000
25%      133.000000
50%      137.000000
75%      140.000000
max      143.000000
dtype: float64

In [17]:
math_score.loc['ZZX']  #索引

137

In [18]:
math_score.iloc[2]   #位置

141

In [19]:
math_score[2]

141

In [24]:
math_score.idxmax()

'ZQ'

向量计算

In [26]:
math_score = pd.Series([143,137,141,130,136,128,139],
                index = ['ZQ','ZZX','YSC','WDF','SZY','XJL','XJY'])
eng_score = pd.Series([73,82,75,76,65,89,67],
                     index = ['ZQ','ZZX','YSC','WDF','SZY','XJL','XJY'])

In [27]:
math_score + eng_score

ZQ     216
ZZX    219
YSC    216
WDF    206
SZY    201
XJL    217
XJY    206
dtype: int64

In [28]:
pol_score = pd.Series([73,71,65,70,67,68,60],
                     index = ['ZZX','YSC','ZQ','WDF','XJY','XJL','SZY'])

In [29]:
pol_score + math_score + eng_score  # 根据索引相加

SZY    261
WDF    276
XJL    285
XJY    273
YSC    287
ZQ     281
ZZX    292
dtype: int64

In [31]:
pro_score = pd.Series([150,100,140,130,120,110,119],
                     index =  ['ZQ','MD','AD','CD','ZZ','RNG','XJY'])

In [32]:
pro_score + pol_score

AD       NaN
CD       NaN
MD       NaN
RNG      NaN
SZY      NaN
WDF      NaN
XJL      NaN
XJY    186.0
YSC      NaN
ZQ     215.0
ZZ       NaN
ZZX      NaN
dtype: float64

apply

In [33]:
pol_score = pd.Series([73,71,65,70,67,68,60])

In [34]:
def multi(num):
    return num * 2

In [35]:
pol_score.apply(multi)

0    146
1    142
2    130
3    140
4    134
5    136
6    120
dtype: int64

In [36]:
pol_score * 2

0    146
1    142
2    130
3    140
4    134
5    136
6    120
dtype: int64

In [37]:
def multi_big(num):
    if num > 70:
        return num * 2

In [38]:
pol_score.apply(multi_big)

0    146.0
1    142.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
dtype: float64